<!DOCTYPE html>
<!--
    Name: failSummaryReport.html
    Author: alen.cheng@teradata.com
    Copyright: Copyright 2007, Aster
    Date: 11/01/2016
    Uri: /
    Description: main page of Dart summary report
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dart Test Report</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script>
    </script>
</head>
<frameset id="failSummary_frame" rows="95,*" frameborder="0" framespacing="0">
<frame id="failSummaryNav" src="failSummaryNav" name="titlebar" scrolling="no"></frame>
<frame id="failSummaryBottom" src="failSummaryBottom" name="mainframe"></frame>
</frameset> 
</html>

