<!DOCTYPE html>
<!--
    Name: failSummaryNav.html
    Author: alen.cheng@teradata.com
    Copyright: Copyright 2007, Aster
    Date: 11/01/2016
    Uri: /failSummaryReport
    Description: Top page of failSummaryReport page
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Top of Failed Summary Report</title>
</head>
<body>
    <div id="head" style="background-color:#F7BE81; width:100%; height:50px; float:center; border-radius: 5px;" align="center">
        <b>
            <font size="6" color="black">Dart Failed Test Summary Report</font>
        </b>
    </div>
    <div id="release" style="background-color:orange; width:99%; height:20px; float:center; border-radius: 5px; margin:2px;padding:5px;" align="left">
    </div>
</body>
</html>
