<!DOCTYPE html>
<!--
    Name: history.html
    Author: alen.cheng@teradata.com
    Copyright: Copyright 2007, Aster
    Date: 11/01/2016
    Uri: /report/history
    Description: Show test history by test name. The page will show newest 10 test
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Information</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"></link>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/utility.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <style media="all" type="text/css">
        .alignCenter { text-align: center; }
    </style>
    <style media="all" type="text/css">
        .dataTable td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <script>
        listNumber = 10;
        $(document).ready(function () {
            $("#listNumber").change(function () {
                var listNumber = document.getElementById("listNumber").value;
                $.loadData(listNumber); 
            });
        });

        $.renderTable = function(res) {
             /*
                 Put data to jQuery datatable
             */
             $('#datatable').dataTable();
             var data = []
             var results = res.results 
             for (i = 0; i < results.length; i++) {
                 var startTime = results[i].start_time
                 if (startTime != null) {
                     startTime = startTime.replace("GMT", "PDT")
                 }
                 if (startTime == null) {
                     startTime = "";
                 } else {
                     var datetime = new Date(startTime);
                     startTime = $.convertDateString(datetime)
                 }

                 var endTime = results[i].end_time
                 if (endTime != null) {
                     endTime = endTime.replace("GMT", "PDT")
                 }
                 if (endTime == null) {
                     endTime = "";
                 } else {
                     var datetime = new Date(endTime);
                     endTime = $.convertDateString(datetime)
                 }

                 var exeTime = results[i].execution_time
                 if (exeTime == null) {
                     exeTime = "";
                 }

                 var log = ""
                 if (results[i].log_location != null) {
                     locArr = results[i].log_location.split("/");
                     log = locArr[locArr.length - 1];
                 }

                 var tmp = ['<a href="/report?run_id=' + results[i].run_id  + '&release_name=' + results[i].release_name + '&tester=' + results[i].tester  + '" target="_parent">' + results[i].run_id, 
                            results[i].owner, results[i].testcase, $.checkFieldEmpty(results[i].revision), startTime, endTime, results[i].status, results[i].release_name, 
                            results[i].build_name, "<a href='/file/log?filename=" + log + "' target='_parent'>" + log + "</a>"]
                 data.push(tmp)
             }
             
             return data;
         }

         $(document).ready(function(){
            $('#datatable').dataTable({
                //"paging":   false,
                "rowHeight": "5%",
                "aoColumnDefs": [
                    {"aTargets": [0], "sClass": "alignCenter"},
                    {"aTargets": [1], "sClass": "alignCenter"},
                    {"sWidth": "20%", "aTargets": [2]},
                    {"sWidth": "5%", "aTargets": [3], "sClass": "alignCenter"},
                    {"aTargets": [4], "sClass": "alignCenter"},
                    {"aTargets": [5], "sClass": "alignCenter"},
                    {"sWidth": "5%", "aTargets": [6], "sClass": "alignCenter"},
                    {"aTargets": [7], "sClass": "alignCenter"},
                    {"sWidth": "9%", "aTargets": [8], "sClass": "alignCenter"},
                    {"sWidth": "24%", "aTargets": [9]},
                    { //set truncate max-width for each cell
                          "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                          "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                              $(nTd).css('max-width', '1px')
                              if (sData != null && sData != "-" && typeof sData == "string" &&!sData.startsWith("<a href")) {
                                   nTd.title = sData;
                              } else if (sData != null && typeof sData == "string" && sData.startsWith("<a href")) {
                                  arr = sData.split(">")
                                  data = arr[1].split("<")
                                  nTd.title = data[0]
                              }

                              if (iCol == 6 && sData == "FAIL") {
                                  $(nTd).css('color', '#fd6864')
                              } else if (iCol == 6 && sData == "PASS") {
                                  $(nTd).css('color', '#67fd9a')
                              } else if (iCol == 6 && sData == "WAITING") {
                                  $(nTd).css('color', '#c0c0c0')
                              } else if (iCol == 6 && sData == "RUNNING") {
                                  $(nTd).css('color', '#38fff8')
                              } else if (iCol == 6 && sData == "ABORT") {
                                  $(nTd).css('color', '#9698ed')
                              } else if (iCol == 6 && sData == "SKIP") {
                                  $(nTd).css('color', '#D7DF01')
                              }

                          }
                    }
                ]
            });
            $('#datatable').css( {
                 "font-size": "90%"
             });
            $.loadData("10");
         });

         $.loadData = function(listNumber) {       
            /*
                Query data from database by testname, component, location and type
            */
            var testname = decodeURIComponent($.urlParam("testname"))
            var component = decodeURIComponent($.urlParam("component")) 
            var loc = decodeURIComponent($.urlParam("location")) 
            var tType = decodeURIComponent($.urlParam("type"))
            var column = encodeURIComponent("run_id,tester,owner,testcase,revision,start_time,end_time,status,release_name,build_name,log_location");

            var condition = "testcase='" + testname + "' and test_component='" + component  + "'"
            if (loc != 0) {
                condition = condition + " and testcase_loc='" + loc + "'"
            }

            if (tType != 0) {
                condition = condition + " and type='" + tType + "'"
            }

            if (listNumber == "all") {
                condition = condition + " ORDER BY run_id DESC"
            } else {
                condition = condition + " ORDER BY run_id DESC Limit " + listNumber
            }

            condition = encodeURIComponent(condition);
            $.ajax({
                     url: '/api/select_rows?dbname=dartdb&table=darttest&columns=' + column + '&condition=' + condition,
                     type: 'GET',
                     dataType: 'json',
                     contentType: 'application/json',
                     success: function(res){
                         $('#datatable').dataTable().fnClearTable();
                         if (res.results.length != 0) {
                             $('#datatable').dataTable().fnAddData($.renderTable(res))
                         }
                     },
                     error: function(req, err){ console.log('my message: ' + err); }
             });
        }
    </script>
</head>
<body>
    <div id="head" style="background-color:#F7BE81; width:100%; height:50px; float:center; border-radius: 5px;" align="center">
        <b>
            <font size="6" color="black">Dart Test History</font>
        </b>
    </div>
    <div id="nav-div" style="background-color:orange; width:99%; height:25px; float:center; border-radius: 5px; margin:2px;padding:5px;" align="left">
    List Number:&nbsp;
        <select id="listNumber" form="listNumber">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="all">All</option>
        </select>
    </div>
    <div id="content" style="background-color:#F7BE81; width:100%; float:center; border-radius: 5px;">
        <table id="datatable" style="width:100%;" class="row-border">
            <thead>
              <tr>
              <th>Run ID</th>
              <th>Owner</th>
              <th>Test Name</th>
              <th>Rev</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Status</th>
              <th>Project</th>
              <th>Build Name</th>
              <th>Log</th>
              </tr>
            </thead>
        </table>
    </div>
</body>
</html>
