<!DOCTYPE html>
<!--
    Name: navTestset.html
    Author: alen.cheng@teradata.com
    Copyright: Copyright 2007, Aster
    Date: 11/01/2016
    Uri: /testsetReport
    Description: Top page of testsetReport page
                 Provides a select box to select Run ID to show Test set or Test suite
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Navbar</title>
    <style media="all" type="text/css">
        .alignLeft { float: left; }
        .alignCenter { float: center; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="/utility.js" type="text/javascript"></script>
    <script>
        var runid = ""

        $(document).ready(function () {
            $("#runIdList").click(function () {
                var runId = document.getElementById("runIdList").value;
                runid = runId
                window.parent.document.getElementById('groupByTestset').contentWindow.loadData(runId);
                $.getSelectFormData("run_id", "runIdList", runId);
            });
        }); 

        function renderTestCount(testCount) {
            if (testCount[0] == undefined || isNaN(testCount[0])) {
                $('#total').html("")
                $('#run').html("")
                $('#wait').html("")
                $('#pass').html("")
                $('#fail').html("")
                $('#abort').html("")
                $('#skip').html("")
            } else {
                $('#total').html("Total:&nbsp;" + testCount[0]  + "&nbsp;")
                $('#run').html("Run:&nbsp;" + testCount[1]  + "&nbsp;")
                $('#wait').html("Wait:&nbsp;" + testCount[2]  + "&nbsp;")
                $('#pass').html("Pass:&nbsp;" + testCount[3]  + "&nbsp;")
                $('#fail').html("Fail:&nbsp;" + testCount[4]  + "&nbsp;")
                $('#abort').html("Abort:&nbsp;" + testCount[5]  + "&nbsp;")
                $('#skip').html("Skip:&nbsp;" + testCount[6]  + "&nbsp;")
            }
        }

        $.renderForm = function(res, formId) {
            /*
                Put data to select box
            */
            var text = '';
            var results = res.results;
            if (formId == "clusterList") {
                text = text + '<option value="">*</option>'
            }

            for (i = 0; i < results.length; i++) {
                if (formId == "clusterList") { 
                    if (results[i].cluster_name == null) {
                        continue
                    } 
                    text = text + '<option value="' + results[i].cluster_name + '">' + results[i].cluster_name + '</option>'
                } else if (formId == "runIdList") {
                    if (results[i].run_id == runid) {
                        text = text + '<option value="' + results[i].run_id + '" selected="selected">' + results[i].run_id + '</option>'
                    } else {
                        text = text + '<option value="' + results[i].run_id + '">' + results[i].run_id + '</option>'
                    }
                } else {
                    if (results[i].release_name == null) {
                        continue
                    }
                    text = text + '<option value="' + results[i].release_name + '">' + results[i].release_name + '</option>'
                }
            }

            return text;
        }

        $.getSelectFormData = function(item, formId, runId) {
            /*
                Query all of the Run ID from database
            */
            var column = encodeURIComponent("DISTINCT " + item);
            var command = ""
            if (item == "run_id") {
                command = encodeURIComponent(" ORDER BY run_id DESC");
                $.getSelectFormData("cluster_name", "clusterList", runId);
                $.getSelectFormData("release_name", "projectList", runId);
            } else {
                if (runId != "") {
                    command = command + "where run_id='" + runId + "'"
                } else if (runid != "") {
                    command = command + "where run_id='" + runid + "'"
                }
            }

            $.ajax({
                     url: '/api/select_rows?dbname=dartdb&table=darttest&columns=' + column + "&command=" + command,
                     type: 'GET',
                     dataType: 'json',
                     contentType: 'application/json',
                     success: function(res){
                         $('#' + formId).html($.renderForm(res, formId));
                     },
                     error: function(req, err){ console.log('my message: ' + err); }
             });
        }

        $(document).ready(function(){
            $('#total').html("Total:&nbsp;10&nbsp;")
            runid = decodeURIComponent($.urlParam("run_id"))
            page = decodeURIComponent($.urlParam("page"))
            if (page == "testset") {
                $('#head').html('<p class="alignLeft"><a href="/" target="_parent">Go to Dashboard</a></p><p style="margin-right:5%; margin-top:0%"><b><font size="6" color="black">Dart Testset Report</font></b></p>')
            } else {
                $('#head').html('<p class="alignLeft"><a href="/" target="_parent">Go to Dashboard</a></p><p style="margin-right:5%; margin-top:0%"><b><font size="6" color="black">Dart Testsuite Report</font></b></p>')

            } 
            $.getSelectFormData("run_id", "runIdList", "");
        });
    </script>
</head>
<body>
    <div id="head" style="background-color:#F7BE81; width:100%; height:50px; float:center; border-radius: 5px;" align="center">
        <p class="alignLeft"><a href="/" target="_parent">Go to Dashboard</a></p>
        <b>
            <font size="6" color="black">Dart Dashboard</font>
        </b>
    </div>
    <div id="nav-div" style="background-color:orange; width:99%; float:center; border-radius: 5px; margin:2px;padding:5px;" align="left">
        Run ID:&nbsp;
        <select id="runIdList" form="runIdForm">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font id="total" align="center">Total:&nbsp;</font>
        <font id="run" align="center">Run:&nbsp;</font>
        <font id="wait" align="center">Wait:&nbsp;</font>
        <font id="pass" align="center">Pass:&nbsp;</font>
        <font id="fail" align="center">Fail:&nbsp;</font>
        <font id="abort" align="center">Abort:&nbsp;</font>
        <font id="skip" align="center">Skip:&nbsp;</font>
        <table align="right">
            <tr>
                <th><font style="background-color: #38fff8">R</font><font>un</font></th><td>&nbsp;&nbsp;</td>
                <th><font style="background-color: #c0c0c0">W</font><font>ait</font></th><td>&nbsp;</td>
                <th><font style="background-color: #67fd9a">P</font><font>ass</font></th><td>&nbsp;</td>
                <th><font style="background-color: #fd6864">F</font><font>ail</font></th><td>&nbsp;</td>
                <th><font style="background-color: #9698ed">A</font><font>bort</font></th><td>&nbsp;</td>
                <th><font style="background-color: #fffe65">S</font><font>kip</font></th><td>&nbsp;</td>
            </tr>
        </table>
    </div>
</body>
</html>

