<!DOCTYPE html>
<!--
    Name: summaryReport.html
    Author: alen.cheng@teradata.com
    Copyright: Copyright 2007, Aster
    Date: 11/01/2016
    Uri: /summaryReport
    Description: Show test summary of lastest build by project name
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style media="all" type="text/css">
        .alignCenter { text-align: center; }
        .alignLeft { text-align: left; }
    </style>
    <style media="all" type="text/css">
        .dataTable td, th {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <title>Summary Report</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></link>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="utility.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#projectList").click(function () {
                var releaseName = document.getElementById("projectList").value;
                $.loadData(releaseName)
            });
        });

        $.renderTable = function(res) {
            results = res.results
            osHeader = results.os_header
            osHeaderLength = Object.keys(osHeader).length
            dbTypeHeader = results.dbtype_header
            dbTypeHeaderLength = Object.keys(dbTypeHeader).length

            tableContent = '<thead><tr>'
            if (dbTypeHeaderLength == 0) {
                tableContent = tableContent + '<th>Project</th>'             
            } else {
                tableContent = tableContent + '<th rowspan="2">Project</th>'
            }

            for (i = 0; i < osHeaderLength; i++) {
                if (dbTypeHeaderLength == 0) {
                    tableContent = tableContent + '<th>' + osHeader[i] + '</th>'
                } else {
                    tableContent = tableContent + '<th colspan="' + dbTypeHeaderLength  + '">' + osHeader[i] + '</th>'
                }
            }

            tableContent = tableContent + '</tr>'
            if (dbTypeHeaderLength == 0) {
                tableContent = tableContent + '</thead>'
                return tableContent
            }

            tableContent = tableContent + '<tr>'
            for (i = 0; i < osHeaderLength; i++) {
                for (j = 0; j < dbTypeHeaderLength; j++) {
                    tableContent = tableContent + '<th>' + dbTypeHeader[j] + '</th>'
                }
            }
            tableContent = tableContent + '</tr></thead>'
            tableContent = tableContent + '<tbody>'
            data = results.data
            for (i = 0; i < data.length; i++) {
                row = data[i]
                tableContent = tableContent + '<tr>'
                for (j = 0; j < row.length; j++) {
                    if (j == 0) {
                        tableContent = tableContent + '<td><a href="/summaryDetail?release_name=' + data[i][j] + '" target="_parent">' + data[i][j] + '</a></td>'
                    } else {
                        if (data[i][j] == "") {
                            tableContent = tableContent + '<td align="center">-</td>'
                        } else {
                            value = data[i][j]
                            if (value.status == "PASS") {
                                tableContent = tableContent + '<td bgcolor="#67fd9a" align="center">' + value.build_number + '</td>'
                            } else if (value.status == "FAIL"){
                                tableContent = tableContent + '<td bgcolor="#fd6864" align="center">' + value.build_number + '</td>'
                            }
                        }
                    }
                }
                tableContent = tableContent + '</tr>'
            }
            tableContent = tableContent + '</tbody>'
            
            return tableContent
        }

        $.loadData = function(releaseName) {
            urlStr = '/api/summary_report?dbname=dartdb'
            if (releaseName != '') {
                urlStr = urlStr + '&release_name=' + releaseName
            }

            $.ajax({
                     url: urlStr,
                     type: 'GET',
                     dataType: 'json',
                     contentType: 'application/json',
                     success: function(res){
                         tableContent = $.renderTable(res)
                         if ($.fn.DataTable.isDataTable('#datatable')) {
                             //if data table is already exist, then destroy it
                             $("#datatable").dataTable().fnDestroy();
                         }
                         $('#datatable').html(tableContent)
                         $('#datatable').dataTable({
                             "scrollX": "true",
                             "autoWidth": false,
                             "bRetrieve": true,
                             "aoColumnDefs": [
                                 { //set truncate max-width for each cell
                                      "aTargets": ["_all"],
                                      "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                          $(nTd).css('max-width', '1px')
                                          if (sData != null && sData != "-" && typeof sData == "string" &&!sData.startsWith("<a href")) {
                                              nTd.title = sData;
                                          } else if (sData != null && typeof sData == "string" && sData.startsWith("<a href")) {
                                              arr = sData.split(">")
                                              data = arr[1].split("<")
                                              nTd.title = data[0]
                                          }
                                      }
                                 }
                              ]
                         });
                     },
                     error: function(req, err){ console.log('my message: ' + err); }
             });

        }

        $.renderForm = function(res) {
            /*
                Put the data to jQuery datatable
            */
            var text = '<option value="">*</option>';
            var results = res.results;
            for (i = 0; i < results.length; i++) {
                text = text + '<option value="' + results[i].release_name + '">' + results[i].release_name + '</option>'
            }

            return text;
        }

        $.getSelectFormData = function() {
            condition = encodeURIComponent("release_name<>'Private' and build_number<>''")
            $.ajax({
                     url: '/api/select_rows?dbname=dartdb&table=darttest&columns=distinct%20release_name&condition=' + condition,
                     type: 'GET',
                     dataType: 'json',
                     contentType: 'application/json',
                     success: function(res){
                         $('#projectList').html($.renderForm(res));
                     },
                     error: function(req, err){ console.log('my message: ' + err); }
             });
        }

        $(document).ready(function() {
            $.loadData("")
            $.getSelectFormData()
        });
    </script>
</head>
<body>
    <div id="head" style="background-color:#F7BE81; width:100%; height:50px; float:center; border-radius: 5px;" align="center">
        <b>
            <font size="6" color="black">Dart Summary Report</font>
        </b>
    </div>
    <div id="release" style="background-color:orange; width:99%; float:center; border-radius: 5px; margin:2px;padding:5px;" align="left">
        Project:&nbsp;
        <select id="projectList" form="projectForm">
        </select>
    </div>
    <div id="content" style="background-color:#F7BE81; float:center; border-radius: 5px; margin-top:0.5%;">
        <table id="datatable" class="cell-border">
        </table>
    </div>
</body>
</html>
